body{
    background-color:#C6C6C6;
  }
  #login-box{
    background-color:#C6C6C6;
    width:380px;
    height:260px;
    margin:140px auto 0px;
    border-radius:5px;
    
  }
  #login-box-interno{
    width:360px;
    height:240px;
    background:#fdfdfd;
    position:absolute;
    margin:10px;
    border-radius:5px;
    box-shadow:0px 0px 55px black;
    overflow:hidden;
    
  }
  #login-box-label{
    --background-color:red;
    height:45px;
    text-align:center;
    font:bold 14px/45px sans-serif;
    border-top-left-radius:5px;
    border-top-right-radius;5px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    
    border-bottom:1px solid white;
    box-shadow:1px 0px 3px black;
    color:#555555;
    text-shadow:1px 0px 1px white;
  }
  
  .input-div{
    margin:20px;
    padding:5px;
    background-color:#f2f5f7;
    border-radius:3px;
    
  }
  .input-div input{
    width:310px;
    height:35px;
    padding-left:5px;
    font: normal 13px sans-serif;
    color:#aeaeae;
    border-radius:3px;
    border:1px solid #bfc4c6;
    outline:none;
  }
  .input-div:hover{
    background-color:#e0f1fc;
    
  }
  .input-div:hover input{
    border-color:#7dc6dd;
  }
  
  #input-senha{
    margin-top:-10px;
  }
  #botoes{
    width:310px;
    margin-left:25px;
  }
  #botao{
    float:right;
    background-color:red;
    padding:5px 15px;
    font: bold 12px sans-serif;
    border-radius:20px;
    text-shadow:0px 1px 0px white;
    border:1px solid #9eb9c3;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
    
    color:#527988;
    box-shadow:0px 0px 10px #c9c9c9;
  }
  #botao:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+65,feffff+100 */
background: rgb(160,216,239); /* Old browsers */
background: -moz-linear-gradient(top, rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
    
    cursor:pointer;  
  
  }
  #lembrar-senha{
    font:normal 12px sans-serif;
  }